.admin-page, .user-page {
    background: white;
    width: auto;
    padding: 2rem;
}
select {
    width: auto;
    font-size: 1rem;
    padding: 0.4rem;
    border: 2px solid #1A1F71F2;
    border-radius: 5px;
    color: black;
    background-color: white;  
}

.admin-header, .user-header {
    width: auto;
    margin-left: 2rem;
    margin-bottom: 5rem;
}

#admin {
    float: left;
    font-size: 2rem;
}

#logout {
    float: right;
    padding: auto;
    margin-top: 10px;
    margin-right: 20rem;
}

h4, p {
    margin: 5px;
    margin-bottom: 1rem;
}

.admin-add-user  {
    width: 60%;
	padding: 1rem;
    margin: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-add-user input{
	font-family: sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: auto;
	border: 0;
	margin: 0.4rem;
	padding: 1rem;
	font-size: 1rem;
  }


.form-add-user button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	background: #1A1F71F2;
    width: auto;
	border: 0;
	padding: 1rem;
	color: #FFFFFF;
    font-size: 1rem;
    border-radius: 5px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }

  .form-add-user button:hover,.form-add-user-add-user button:active,.form-add-user-add-user button:focus {
    background: #FFFFFF;
    color: #1A1F71F2;
    border: 1px solid #1A1F71F2;
}


.admin-register-book {
    width: auto;
	padding: 1rem;
    margin: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-register-book input{
	font-family: sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: auto;
	border: 0;
	margin: 0.4rem;
	padding: 1rem;
    font-size: 1rem;
  }


 .form-register-book button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	background: #1A1F71F2;
	width: auto;
	border: 0;
	padding: 1rem;
	color: #FFFFFF;
    font-size: 1rem;
    border-radius: 5px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }

  .form-register-book button:hover,.form-add-user-add-user button:active,.form-add-user-add-user button:focus {
    background: #FFFFFF;
    color: #1A1F71F2;
    border: 1px solid #1A1F71F2;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    text-align: center;
	font-size: 1rem;
	margin: auto;
	color: black;
    text-decoration: none;
    float: left;
  }
  
  li p {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    margin: auto;
  }
  
  li p:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }